<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Failure:<%-message %></h1>
    <hr>
    <a href="/">HOME</a> 
</body>
</html>