<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your enemy</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/showData" method="post">
        <fieldset>
            <label><strong>Enemy Name:</strong> <input type="text" name="name"/></label>
            <br><br>
            <label><strong>IP Address:</strong><input type="text" name="ip"/></label>
            <br><br>
        </fieldset>
        <br>
        <input type="reset" />
        <input type="submit" value="Show Location"/>
    </form>
    <hr>
    <a href="/">HOME</a> 
</body>
</html>