<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Geolocator</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 id="title">Geolocation Server</h1>
    <h2 id="options">Options</h2>
    <ul id="list">
        <li><a href="/findIP">Find your enemies >:)
            <img src="https://i0.wp.com/securitymadesimple.org/wp-content/uploads/2023/03/a19aa-computerhacker.png?fit=1280%2C960&ssl=1" alt="hacker" class="image">
            </a>
        </li>
        <li><a href="/listLocations">List Locations
            <img src="https://www.globe.gov/o/gov.globe.home.explorelearnearth.web/images/learn-earth-system-clean_earth_only.png" alt="globe" class="image">
            </a>
        </li>
        <li><a href="/openMap">Open Map
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK3yorkw0qG1dirpckZjQx-WOMd3AljJUXloYFX0r-5Q&s" alt="google maps" class="image">
            </a>
        </li>
        <li>
            <a href="/cleared">Clear Database</a>
        </li>
    </ul>
    
</body>
</html>