<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enemy List</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <table>
        <tr><th>Names</th><th>IP</th><th>Country</th><th>City</th><th>Coordinates</th></tr>
        <%- data %>
    </table>
    <hr>
    <a href="/">HOME</a>
</body>
</html>